In [1]:
import numpy as np
import pandas as pd

# Contoh array dan DataFrame
a = np.arange(1, 6)
df = pd.DataFrame({"Angka": a, "Kuadrat": a**2})

df

   Angka  Kuadrat
0      1        1
1      2        4
2      3        9
3      4       16
4      5       25