In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv("tni.csv")

print("== Data Calon TNI ==")
print(df.to_string(index=False))

print("\n" + "="*50)
print("== Statistik Dasar Tinggi Badan ==")
statistik = df['tinggi'].describe()
print(statistik)

print(f"\nRata-rata tinggi : {df['tinggi'].mean():.1f} cm")
print(f"Tertinggi      : {df['tinggi'].max()} cm")
print(f"Terendah       : {df['tinggi'].min()} cm")
print(f"Median         : {df['tinggi'].median()} cm")

print("\n" + "="*50)
print("== Calon di atas rata-rata tinggi ==")
rata_tinggi = df['tinggi'].mean()
calon_diatas_rata = df[df['tinggi'] > rata_tinggi][['name', 'alamat', 'tinggi']]
print(calon_diatas_rata.to_string(index=False))

print("\n" + "="*50)
print("== Data dengan Kategori ==")
print(df.to_string(index=False))

print("\n" + "="*50)
print("== Jumlah Calon per Kategori ==")
jumlah_per_kategori = df['kategori'].value_counts()
print(jumlah_per_kategori)

print("\n" + "="*50)
print("== Statistik Lanjutan ==")
print(f"Standar Deviasi : {df['tinggi'].std():.2f}")
print(f"Variansi        : {df['tinggi'].var():.2f}")

print("\n" + "="*50)
print("== Calon dengan Tinggi Badan Tertinggi ==")
tertinggi = df.loc[df['tinggi'].idxmax()]
print(f"Nama   : {tertinggi['name']}")
print(f"Alamat : {tertinggi['alamat']}")
print(f"Tinggi : {tertinggi['tinggi']} cm")

== Data Calon TNI ==
 name                   alamat  tinggi kategori
 Andi       Jl. Merdeka No. 18     175   Sedang
 Budi       Jl. Sudirman No. 5     178   Sedang
 Cira       Jl. Thamrin No. 20     180   Tinggi
 Devd Jl. Gatot Subroto No. 15     180   Tinggi
  Eka    Jl. Rasuna Said No. 8     183   Tinggi
Fajar      Jl. Kuningan No. 12     185   Tinggi
 Gina         Jl. Cikini No. 3     170   Sedang
 Hadi       Jl. Palmerah No. 7     168   Pendek
Indah        Jl. Senayan No. 9     178   Sedang
Jilan       Jl. Kuningan No. 2     160   Pendek

==================================================
== Statistik Dasar Tinggi Badan ==
count     10.000000
mean     175.700000
std        7.645623
min      160.000000
25%      171.250000
50%      178.000000
75%      180.000000
max      185.000000
Name: tinggi, dtype: float64

Rata-rata tinggi : 175.7 cm
Tertinggi      : 185 cm
Terendah       : 160 cm
Median         : 178.0 cm

==================================================
== Calon di atas rata-rata tinggi ==
 name                   alamat  tinggi
 Budi       Jl. Sudirman No. 5     178
 Cira       Jl. Thamrin No. 20     180
 Devd Jl. Gatot Subroto No. 15     180
  Eka    Jl. Rasuna Said No. 8     183
Fajar      Jl. Kuningan No. 12     185
Indah        Jl. Senayan No. 9     178

==================================================
== Data dengan Kategori ==
 name                   alamat  tinggi kategori
 Andi       Jl. Merdeka No. 18     175   Sedang
 Budi       Jl. Sudirman No. 5     178   Sedang
 Cira       Jl. Thamrin No. 20     180   Tinggi
 Devd Jl. Gatot Subroto No. 15     180   Tinggi
  Eka    Jl. Rasuna Said No. 8     183   Tinggi
Fajar      Jl. Kuningan No. 12     185   Tinggi
 Gina         Jl. Cikini No. 3     170   Sedang
 Hadi       Jl. Palmerah No. 7     168   Pendek
Indah        Jl. Senayan No. 9     178   Sedang
Jilan       Jl. Kuningan No. 2     160   Pendek

==================================================
== Jumlah Calon per Kategori ==
kategori
Sedang    4
Tinggi    4
Pendek    2
Name: count, dtype: int64

==================================================
== Statistik Lanjutan ==
Standar Deviasi : 7.65
Variansi        : 58.46

==================================================
== Calon dengan Tinggi Badan Tertinggi ==
Nama   : Fajar
Alamat : Jl. Kuningan No. 12
Tinggi : 185 cm